In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
#credits.rename(columns={'movie_id': 'id'}, inplace=True)

In [6]:
movies = movies.merge(credits,on='title')

In [7]:
movies = movies[['id','title','overview','genres','keywords','cast','crew']]

In [8]:
movies.dropna(inplace=True)

In [9]:
movies.duplicated().sum()

0

In [10]:
movies.iloc[0]['genres']

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [11]:
type(movies.iloc[0]['genres'])

str

In [12]:
import ast
for i in ast.literal_eval(movies.iloc[0]['genres']) :
    print(i['name'])

Action
Adventure
Fantasy
Science Fiction

In [13]:
def convert(text):
    L= []
    for i in ast.literal_eval(text) : 
        L.append(i['name'])
    return L

In [14]:
# Func Testing
convert(movies.iloc[0]['genres'])

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [15]:
movies['genres'] = movies['genres'].apply(convert)
movies.head(2)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [16]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head(2)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [17]:
def convert_n(text):
    L= []
    n = 3
    for i in ast.literal_eval(text) :
        n -= 1
        if n >=0 :
            L.append(i['name'])
    return L

In [18]:
convert_n(movies['cast'].iloc[0])

['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver']

In [19]:
movies['cast'] = movies['cast'].apply(convert_n)
movies.head(2)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [20]:
def fetch_director(text):
   a = [] 
   for i in  ast.literal_eval(text):
     if i['department'] == 'Directing':
        a.append(i['name'])
   return a

In [21]:
movies['crew'] = movies['crew'].apply(fetch_director)
movies.head(2)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[Gore Verbinski, Pamela Alch, Sharron Reynolds..."

In [22]:
a = 'cosa dosa'

In [23]:
a.replace(" ","")

'cosadosa'

In [24]:
def space_remover(cell):
    l = []
    for i in cell : 
        l.append(i.replace(" ",""))
    return l

In [25]:
space_remover_columns = movies.columns[3:]
for i in space_remover_columns:
  movies[i] =  movies[i].apply(space_remover)

In [26]:
movies.head(3)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[GoreVerbinski, PamelaAlch, SharronReynolds, K..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]","[SamMendes, Jayne-AnnTenggren, NicolettaMani, ..."

In [27]:
movies['overview'] = movies['overview'].apply( lambda x : x.split(" "))
movies.head()

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[GoreVerbinski, PamelaAlch, SharronReynolds, K..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]","[SamMendes, Jayne-AnnTenggren, NicolettaMani, ..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]","[ChristopherNolan, SteveGehrke, MatthewReedy, ..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]","[AndrewStanton, AnniePenn, TommyGormley, BenDi..."

In [28]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']
new = movies.drop(columns=['overview','genres','keywords','cast','crew'])

In [29]:
# Under- Standing
" ".join(movies['tags'][0])

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [30]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))

In [31]:
new['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [32]:
new.head()

,id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [33]:
new['tags'] = new['tags'].apply(lambda x : x.lower())
new['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [34]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [35]:
print(ps.stem('loved'))
print(ps.stem('loving'))
print(ps.stem('love'))

love
love
love

In [36]:
def stem_helper(text):
    h = []
    for i in text.split(" "):
      h.append(ps.stem(i))
    return " ".join(h)

In [37]:
stem_helper('loved loving love')

'love love love'

In [38]:
stem_helper(new['tags'][0])

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [39]:
new['tags'] = new['tags'].apply(stem_helper)

In [40]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [41]:
vector = cv.fit_transform(new['tags']).toarray()
vector[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [42]:
vector.shape

(4806, 5000)

In [43]:
cv.get_feature_names_out()

# top 5000 words

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [44]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [45]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

In [46]:
similarity.shape

(4806, 4806)

In [47]:
similarity[0] 
# first movie's similarity with others

array([1.        , 0.08000711, 0.08346223, ..., 0.04499213, 0.        ,
       0.        ])

In [88]:
def recommend(movie):
    movie_index = new[new['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_ind = sorted( list(enumerate(distances)),reverse=True,key=lambda x : x[1])[1:6]
    lst = []
    ind = []
    for i in movies_ind : 
      lst.append(new['title'].loc[i[0]])
      ind.append(new[new['title']==new['title'].loc[i[0]]]['id'].values[0]) 
    return lst , ind

In [89]:
recommend('Avatar')

(['Aliens vs Predator: Requiem',
  'Aliens',
  'Anne of Green Gables',
  'Independence Day',
  'Battle: Los Angeles'],
 [440, 679, 17663, 602, 44943])

In [56]:
import pickle

In [57]:
pickle.dump(new,open('movie_list.pkl','wb'))

In [58]:
pickle.dump(similarity,open('similarity.pkl','wb'))